<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/3.jpg?alt=media&token=158160f1-8125-4df6-8bf1-5c323c9d5c88">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Santiago de Chile 21 JUN 2019 - 18:39 CEST </p>
        <h2>Joaquín Lavin, el rostro renovado de </h2>
        <h2>la derecha chilena</h2>
        <p> Rocío Montes</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Es Opus Dei de misa diaria, pero instaló figuras de parejas del mismo sexo en semáforos peatonales del municipio que
        lidera, Las Condes, con motivo del Día Internacional contra la Homofobia y la Transfobia. Es de derecha, pero impulsó
        un proyecto para instalar viviendas sociales en medio de unas de las zonas caras de su comuna, una rareza en un Chile
        segregado. Milita en la Unión Demócrata Independiente (UDI), el partido más doctrinario de su sector, pero se reúne
        con adversarios políticos, como el alcalde comunista Daniel Jadue, para aprender de sus proyectos. Tiene un espacio
        diario en la radio, participa semanalmente de un programa en la televisión y dedica unas tres horas diarias a Twitter
        para comunicarse con los vecinos. El alcalde Joaquín Lavín (Santiago, 1953), que rozó La Moneda en 1999 cuando compitió
        voto a voto la presidencia con el socialista Ricardo Lagos, vuelve a ser un fenómeno en Chile, 20 años después.</p>
    </ion-item>
  </ion-list>

</ion-content>