<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/deportes"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia6.jpg?alt=media&token=e26d2e01-dc38-4cba-80f4-6b0b62da62e3">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Rio de Janeiro 29 JUN 2019 - 23:36 CEST </p>
        <h2>Chile resiste, resiste y resiste</h2>
        <p> Juan I. Irigoyen</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Marcelo Bielsa no levantó ningún título con la selección chilena, la gloria fue para Jorge Sampaoli y Juan Antonio
        Pizzi. Sin embargo, sin la figura del actual entrenador del Leeds sería imposible entender el presente de La Roja,
        bicampeona de América en 2015 y 2016, semifinalista en Brasil 2019 después de eliminar por penaltis a Colombia (0-0
        y 4-5) en el Arena Corinthians. “Sampaoli ganó, Pizzi ganó, pero no estoy hablando de triunfos. Exteriormente, creo
        que Bielsa fue el que tuvo más influencia en el fútbol chileno en atreverse a hacer más”, subrayó el chileno Manuel
        Pellegrini en una entrevista en el periódico El Mercurio. No es una opinión cualquiera la de Pellegrini, exentrenador
        del Real Madrid y del Manchester City , uno de los técnicos chilenos más exitosos.</p>
    </ion-item>
  </ion-list>

</ion-content>