<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/ipchile.png?alt=media&token=1ff3a9c2-5180-49b5-b8f4-a9f136388a05"></ion-img>


  <ion-item color="secondary">
    <ion-label text-wrap style="color:black">
      Somos un pequeño grupo dedicados a la Informática, consta de los siguientes integrantes:
      </ion-label>
  </ion-item>

  <ion-chip>
    <ion-avatar>
      <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/dilan.png?alt=media&token=d3f38253-9377-46a8-94bb-b4edc6e251f4">
    </ion-avatar>
    <ion-label>Dilan Cardenas +56948859852</ion-label>
  </ion-chip>
<br>
  <ion-chip>
    <ion-avatar>
      <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/maik.png?alt=media&token=1883278e-7c86-4d2f-a8e9-3bac60e0777a">
    </ion-avatar>
    <ion-label>Michael Bello +56934396145</ion-label>
  </ion-chip>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button onclick="window.open('https://twitter.com','_system','location=yes')" color="secondary"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    
      <ion-fab-button onclick="window.open('https://facebook.com','_system','location=yes')" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>

      <ion-fab-button onclick="window.open('https://instagram.com','_system','location=yes')" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title style="color:black;">
      <h3>@Copyrigth Novosti │ Santiago, Chile</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>