<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/2.jpg?alt=media&token=90b8ef9f-0761-4d79-9606-063ee3c2c66e">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Santiago de Chile 25 JUN 2019 – 19:58 CEST </p>
        <h2>La niña que contó el golpe de Pinochet</h2>
        <h2>en su diario</h2>
        <p>Rocío Montes</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">En agosto de 1973, la chilena Francisca Márquez, de 12 años, comienza su sexto diario de vida. A la mayor entre cuatro
        hermanas mujeres y admiradora de Ana Frank, los problemas de salud la empujaron por el camino de la observación y
        la escritura temprana. «Mi gran sueño es hacer un libro y que se publique y se haga famoso», escribe en la primera
        página. «Tal vez algún día sea una gran escritora o a lo mejor solo una escritora. O nada». </p>
    </ion-item>
  </ion-list>

</ion-content>