<ion-header>
  <ion-toolbar>
    <ion-title>deportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-card class="welcome-card" href="noticia8">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia8.jpg?alt=media&token=fbfbf9c9-e6a2-4eaf-b4c2-c252959c8d36">
      </ion-img>
      <ion-card-header>
        <ion-card-subtitle>SORAYA MELGUIZO | Sábado, 29 junio 2019 - 13:25</ion-card-subtitle>
        <ion-card-title>Detenida la capitana del Sea Watch después de atracar sin autorización en Lampedusa</ion-card-title>
      </ion-card-header>

    </ion-card>
    <ion-list lines="none">

      <ion-item href="noticia9">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia9.jpg?alt=media&token=81cc73d2-dc35-406e-81ed-dbb961ff95f9">
        </ion-thumbnail>
        <ion-label>
          <h3>Las nuevas guerras que libra Colombia después de las FARC</h3>
          <p>No les ha llegado todavía la paz. Ni la que firmó el Gobierno.</p>
          <p>de Álvaro Uribe con los paramilitares ni la más reciente de Juan Manuel Santos con las FARC </p>
        </ion-label>
      </ion-item>

      <ion-item href="">
          <ion-thumbnail slot="end">
            <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/internacionaAdd.jpg?alt=media&token=750f39a7-49b3-4d45-bb32-b4c910d42b8c">
          </ion-thumbnail>
          <ion-label>
            <h3>La lenta agonía de los emigrantes encarcelados en Libia</h3>
            <p>EL PAÍS visita un centro en Trípoli donde malviven cientos de subsaharianos tras ser </p>
            <p>interceptados en el mar. En todo el país hay casi 6.000 refugiados y migrantes encerrados</p>
          </ion-label>
        </ion-item>
  
        <ion-item href="">
          <ion-thumbnail slot="end">
            <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/internacionaAdd1.jpg?alt=media&token=91d5ede3-3205-4940-abc7-57e006719d46">
          </ion-thumbnail>
          <ion-label>
            <h3>“La crueldad con los niños en la frontera es intencionada, es la política del Gobierno”</h3>
            <p>Las abogadas que denunciaron las condiciones insalubres de detención de los menores </p>
            <p>inmigrantes acusan a la Administración de bloquear el sistema de acogida a propósito</p>
          </ion-label>
        </ion-item>
  
        <ion-item href="">
          <ion-thumbnail slot="end">
            <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/internacionaAdd2.jpg?alt=media&token=fb573b4a-a4d1-4a6c-a7a1-7dfc204e4d08">
          </ion-thumbnail>
          <ion-label>
            <h3>El incidente del ‘Sea-Watch 3’ amenaza con reavivar las tensiones entre Francia e Italia</h3>
            <p>El ministro francés del Interior reitera su oferta de acoger a 10 de los 42 inmigrantes a bordo del barco</p>
          </ion-label>
        </ion-item>
  
        <ion-item href="">
          <ion-thumbnail slot="end">
            <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/internacionaAdd3.jpg?alt=media&token=83c7230e-2615-4d46-8795-62bd27ec0aae">
          </ion-thumbnail>
          <ion-label>
            <h3>Trump invita a Kim a una reunión este fin de semana en la frontera entre las dos Coreas</h3>
            <p>La sugerencia llega después de un “interesante” intercambio de cartas entre los dos presidentes</p>
          </ion-label>
        </ion-item>
  
        <ion-item href="">
          <ion-thumbnail slot="end">
            <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/internacionaAdd4.jpg?alt=media&token=f50e1001-d463-4483-8400-ad510d32c0da">
          </ion-thumbnail>
          <ion-label>
            <h3>Cadena perpetua para el supremacista que arrolló a los manifestantes de Charlottesville</h3>
            <p>James Alex Fields Jr., autoproclamado neonazi, es condenado por delitos de odio federales</p>
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>