<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ciencia"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img
    src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/6.jpg?alt=media&token=6e8edc5a-ff59-42db-88b0-046fe019e946">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Actualizado: 28/06/2019 10:35h</p>
        <h2>Científicos españoles descubren una </h2>
        <h2>nueva propiedad de la luz</h2>
        <p>Agencias</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Un grupo de investigadores de la Universidad de Salamanca (USAL) ha liderado un estudio
         internacional en el que se describe una nueva propiedad de la luz, hasta ahora totalmente desconocida,
          a la que han denominado «auto torque». El hallazgo puede ayudar al desarrollo de futuros dispositivos 
          tecnológicos más pequeños y rápidos.</p>
    </ion-item>
  </ion-list>

</ion-content>