<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Deportes
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item href="noticia6">
      <ion-thumbnail slot="end">
        <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia6.jpg?alt=media&token=e26d2e01-dc38-4cba-80f4-6b0b62da62e3">
      </ion-thumbnail>
      <ion-label>
        <h3>Chile resiste, resiste y resiste</h3>
        <p>La generación de oro de La Roja, formada con Bielsa,</p>
      </ion-label>
    </ion-item>

    <ion-item href="noticia7">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia7.jpg?alt=media&token=6b99fdca-69d7-4250-9d10-0b9cdffcbf7e">
      </ion-thumbnail>
      <ion-label>
        <h3>Perú sorprende a Uruguay</h3>
        <p>Perú sorprendió a Uruguay en Bahía. Primero, </p>
        <p>sin embargo, tuvo que aprender a resistir </p>
      </ion-label>
    </ion-item>

    <ion-item href="">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/deporteAdd.jpg?alt=media&token=2ed17be1-3746-422a-ae79-4587ff56a80f">
      </ion-thumbnail>
      <ion-label>
        <h3>Pablo Fornals, solo ante la presión</h3>
        <p>El interior recién fichado por el West Ham habla sobre su misión de atraer a los rivales hacia</p>
        <p>la pelota para liberar a sus compañeros en la mejor tradición de Andrés Iniesta</p>
      </ion-label>
    </ion-item>

    <ion-item href="">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/deporteAdd1.jpg?alt=media&token=588e54b4-3b04-4065-9463-8333af148394">
      </ion-thumbnail>
      <ion-label>
        <h3>Giannis Antetokounmpo: “Hace seis años tenía miedo de salir de casa por si me deportaban”</h3>
        <p>El jugador griego de los Bucks explica sus orígenes en una humilde familia de emigrantes nigerianos y</p>
        <p> la progresión que le ha llevado a ser una estrella en la NBA</p>
      </ion-label>
    </ion-item>

    <ion-item href="">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/deporteAdd2.jpg?alt=media&token=c592e3c4-79ed-492f-8f29-320ce08b43a2">
      </ion-thumbnail>
      <ion-label>
        <h3>Los goles de Waldschmidt lanzan a Alemania</h3>
        <p>El delantero del Friburgo es el máximo anotador del torneo con siete tantos</p>
      </ion-label>
    </ion-item>

    <ion-item href="">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/deporteAdd3.jpg?alt=media&token=b964f3c0-dbbc-40f9-a18b-24b47528e875">
      </ion-thumbnail>
      <ion-label>
        <h3>España-Alemania, la revancha</h3>
        <p>Los finalistas de 2017 repiten duelo en esta edición bajo signos parecidos.</p>
        <p>Ceballos vuelve a abanderar a la selección favorita frente a un adversario experto en castigar el exceso de
          confianza</p>>
      </ion-label>
    </ion-item>

    <ion-item href="">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/deporteAdd4.jpg?alt=media&token=65133557-1b60-4a3a-98de-7d7502cb90ce">
      </ion-thumbnail>
      <ion-label>
        <h3>Rahm, a cinco golpes del líder en Valderrama</h3>
        <p>El vasco es segundo con -5, por los -10 del sudafricano Bezuidenhout</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>