<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia7.jpg?alt=media&token=6b99fdca-69d7-4250-9d10-0b9cdffcbf7e">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Rio de Janeiro 30 JUN 2019 - 00:20 CEST </p>
        <h2>Perú sorprende a Uruguay</h2>
        <p>Juan I. Irigoyen</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Perú sorprendió a Uruguay en Bahía. Primero, sin embargo, tuvo que aprender a resistir frente a dos delanteros inmensos
        como Luis Suárez y Cavani, este sábado sin puntería en los cuartos de final de la Copa América. Perú perdió a uno
        de sus jugadores franquicia, Farfán, pero ganó un partido memorable ante Uruguay. Después de recibir cinco goles
        ante Brasil, Perú dejó la portería a cero frente a la Celeste. La ruleta de los penaltis jugó para el equipo de Ricardo
        Gareca. Luis Suárez, errático en el duelo, negado por Gallese desde los 12 pasos, condenó a Uruguay (0-0 y 4-5).
        Perú se enfrentará a Chile el próximo miércoles en Porto Alegre por un lugar en la final en el mítico Maracaná. Brasil
        y Argentina dirimen el otro duelo.</p>
    </ion-item>
  </ion-list>

</ion-content>