<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cultura"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia11.jpg?alt=media&token=75c1da8e-6378-4a59-81d7-caf321bd5ceb">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Cochabamba 22 JUN 2019 - 20:11 CEST </p>
        <h2>Los 200 tesoros literarios que una </h2>
        <h2>biblioteca en Bolivia ha recuperado</h2>
        <p> Andrés Rodríguez</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Las distintas voces de la historia, relatos olvidados que ven sus páginas desempolvarse y estudios sociales que son
        primicia en castellano, entre otros tesoros literarios, son algunos de los libros que permanecieron ocultos y hoy
        han sido recuperados en el catálogo de la Biblioteca del Bicentenario de Bolivia (BBB). El proyecto editorial, impulsado
        por el Centro de Investigaciones Sociales (CIS) de la Vicepresidencia del Estado Plurinacional de Bolivia, se ha
        dado a la tarea de reeditar obras que no pasaron de su primera edición, que quedaron agotados hace años o que nunca
        fueron traducidas al español. La iniciativa seleccionó 200 títulos que van desde historia, artes, estudios antropológicos
        y sociológicos considerados “fundamentales” para entender los procesos históricos de esa nación sudamericana y, en
        algunos casos, de América Latina.</p>
    </ion-item>
  </ion-list>

</ion-content>