<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia8.jpg?alt=media&token=fbfbf9c9-e6a2-4eaf-b4c2-c252959c8d36">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Sábado, 29 junio 2019 - 13:25</p>
        <h2>Detenida la capitana del Sea Watch </h2>
        <h2>después de atracar sin autorización en Lampedusa </h2>
        <p>SORAYA MELGUIZO</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Después de 17 días a la deriva, la odisea del barco humanitario Sea Watch 3, que llevaba a bordo 40 migrantes rescatados
        en aguas del Mediterráneo, llega a su fin. La comandante del barco, Carola Rackete, ha atracado esta madrugada la
        embarcación en el puerto de la isla siciliana de Lampedusa, ignorando la prohibición de las autoridades italianas.La
        capitana alemana ha sido detenida por la policía y se enfrenta a una condena de hasta 10 años de cárcel y una multa
        que podría alcanzar los 50.000 euros.</p>
    </ion-item>
  </ion-list>

</ion-content>