<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/internacional"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia9.jpg?alt=media&token=81cc73d2-dc35-406e-81ed-dbb961ff95f9">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Sábado, 29 junio 2019 - 02:02 </p>
        <h2>Las nuevas guerras que libra </h2>
        <h2>Colombia después de las FARC</h2>
        <p>SALUD HERNÁNDEZ MORA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">No les ha llegado todavía la paz. Ni la que firmó el Gobierno de Álvaro Uribe con los paramilitares ni la más reciente
        de Juan Manuel Santos con las FARC. Siguen en medio de un conflicto armado que nada tiene que ver con revoluciones
        populares ni ideologías. Se trata de la sempiterna pelea por controlar los negocios ilícitos. Hastiados de quedar
        en medio del fuego cruzado, y conscientes de que la solución no será ni fácil ni pronta, los lugareños sólo aspiran
        a que "Caparrapos" y "Gaitanistas" no les involucren en sus disputas y libren sus batallas lejos de la población.</p>
    </ion-item>
  </ion-list>

</ion-content>