<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Ciencia
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list lines="none">
      <ion-item href="noticiac1">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/6.jpg?alt=media&token=6e8edc5a-ff59-42db-88b0-046fe019e946">
        </ion-thumbnail>
        <ion-label>
          <h3>Científicos españoles descu-</h3>
          <h3>bren una nueva propiedad</h3>
          <h3> de la luz</h3>
          <p>El hallazgo puede ayudar...</p>
        </ion-label>
      </ion-item>
      <ion-item href="noticiac2">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/7.jpg?alt=media&token=99547c04-db9e-43f1-bd7f-2022d4a23a02">
        </ion-thumbnail>
        <ion-label>
          <h3>Hallan el origen de una</h3>
          <h3>fugaz señal de radio emitida</h3>
          <h3>a 4.000 millones de años luz</h3>
          <p>Por primera vez, los astrónomos localizan</p>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/8.jpg?alt=media&token=6ce9c65a-2878-407d-8ac0-6686d95b9665">
        </ion-thumbnail>
        <ion-label>
          <h3>Encuentran un «Arca de Noé»</h3>
          <h3>perdida en una antigua ciudad </h3>
          <h3>en la selva de Honduras</h3>
          <p>Un equipo internacional de investigadores han hallado</p>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/9.jpg?alt=media&token=c076c1d9-5dd7-463e-942d-d3fe4bbe98fd">
        </ion-thumbnail>
        <ion-label>
          <h3>La vida pudo empezar en </h3>
          <h3>Marte 500 millones de años </h3>
          <h3>antes que en la Tierra</h3>
          <p>Demuestran que el «Gran Bombardeo» de</p>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/10.jpg?alt=media&token=18a11364-cb2c-4aaf-8108-e44d7d72c8ea">
        </ion-thumbnail>
        <ion-label>
          <h3>La NASA enviará un dron a </h3>
          <h3>Titán en 2026 para buscar </h3>
          <h3>señales de vida</h3>
          <p>El ingenio, nunca utilizado en otro mundo</p>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/11.jpg?alt=media&token=53a06c4a-b934-4733-88d6-43aa9e4d3a98">
        </ion-thumbnail>
        <ion-label>
          <h3>Cuatro planes reales para </h3>
          <h3>salvar la Tierra del fatal </h3>
          <h3>impacto de un asteroide</h3>
          <p>Las agencias espaciales llevan dos </p>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-thumbnail slot="end">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/12.jpg?alt=media&token=7679d9f7-1b3b-4a7c-9e47-8339a9af5326">
        </ion-thumbnail>
        <ion-label>
          <h3>¿Qué probabilidades hay de </h3>
          <h3>que una tormenta solar extrema </h3>
          <h3>golpee la Tierra?</h3>
          <p>el fenómeno proveniente del Sol y del que </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>