<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/4.jpg?alt=media&token=05b2476c-12ba-49ca-8b8e-acd4e369f2c9">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>20 JUN 2019 - 00:00 CEST</p>
        <h2>Cinco grandes viajes con la casa </h2>
        <h2>a cuestas</h2>
        <p> Lonely Planet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">

        Vivir como un nómada a bordo de una furgoneta adaptada a las necesidades de cada viajero se está convirtiendo, para muchos,
        en una opción propicia para recorrer el mundo en libertad. Con el interior customizado (adaptado) de las formas más
        variopintas —sencillas o sofisticadas, más caras o más económicas—, viajar en las llamadas van, o camper, permite,
        por ejemplo, a surfistas y escaladores practicar con mayor comodidad su deporte favorito, salir de acampada en familia
        y poder vivir desconectado a tiempo completo. Gracias a nuevas plataformas digitales y a foros en Internet se ha
        ido creando, a modo de un camping virtual, una comunidad global de aficionados a la llamada vanlife (vida furgonetera).</p>
    </ion-item>
  </ion-list>

</ion-content>