<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img
    src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/5.jpg?alt=media&token=90da4487-24e8-4a09-a86a-cdffd0051918">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Santiago de Chile-13 JUN 2019 - 13:47	CEST</p>
        <h2>El vino chileno quiere jugar en </h2>
        <h2>primera división</h2>
        <p>Rocio Montes</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Fue en los años noventa, con la apertura económica de Chile y la firma de diversos tratados de libre comercio, cuando explotó la exportación de vinos del país sudamericano, reconocidos a nivel mundial por su concentración y sus variedades de uva cabernet y carmenère de alta calidad. Si en los años ochenta, en dictadura, vendía al exterior unos 15 millones de dólares en promedio anual, la exportación de este producto en 2018 llegó a los 2.000 millones de dólares (unos 1.800 millones de euros). Pero ese crecimiento le sabe a poco a la industria local. Ahora quieren mejorar su imagen de productora de vino de calidad.</p>
    </ion-item>
  </ion-list>

</ion-content>