<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img
    src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/1.jpg?alt=media&token=ecff7490-6ba0-4bb6-ad08-9d96b49c783b">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Bogotá-28 JUN 2019 - 08:43 CEST</p>
        <h2>La revolución ‘europea’ de Queiroz</h2>
        <h2>se mide al bicampeón de América</h2>
        <p>Santiago Torrado</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Carlos Queiroz desembarcó en Colombia justo cuando la orgullosa escuela sudamericana afronta horas oscuras.
        Sin representantes en las semifinales del Mundial de Rusia —un torneo que se dirimió entre selecciones
        europeas—, la región que siempre se vanaglorió de su superioridad técnica ha ido perdiendo el dominio del
        fútbol ante Europa. Con su paso perfecto en la Copa América, el equipo del entrenador portugués ha
        deslumbrado a un continente que aún se encuentra en el diván.</p>
    </ion-item>
  </ion-list>

</ion-content>