<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cultura"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia10.jpg?alt=media&token=25944c09-42db-4913-bef3-6118fbb9079c">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Madrid 22 JUN 2019 - 01:08 CEST </p>
        <h2>Cien años de matanzas entre hermanos</h2>
        <p>Manuel Morales </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">“Lo malo de las guerras civiles es que nunca se sabe si el enemigo soy yo o eres tú”, le dice un soldado a otro en
        una viñeta de Gila. Sin ánimo de banalizar un fenómeno tan terrible, el humorista sintetiza la principal característica
        de estas confrontaciones, “son esquivas, porosas, ninguno de los combatientes la define como civil, sino que se suele
        hablar de liberación, y casi nunca se saldan con acuerdos de paz", dice el historiador Javier Rodrigo, autor junto
        a su colega David Alegre del ensayo Comunidades rotas (Galaxia Gutenberg), un volumen de 736 páginas que recorre
        la gran mayoría de los enfrentamientos fratricidas desde 1917, la guerra civil rusa tras la Revolución de Octubre,
        hasta 2017, con la llaga en Siria que no deja de supurar cadáveres.</p>
    </ion-item>
  </ion-list>

</ion-content>