<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full">
    <ion-item *ngIf="todo">
      <ion-input required type="text" placeholder="" [(ngModel)]='todo.nombre'></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-input required type="number" placeholder="" [(ngModel)]='todo.edad'></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-input required type="text" placeholder="" [(ngModel)]='todo.comentario'></ion-input>
    </ion-item>

  </ion-list>
  <ion-button color="dark" expand="full" (click)="saveTodo()">Guardar</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger" routerLink="/resenas" routerDirection="forward" (click)="onRemove(todoId)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>