<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Novosti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img
      src="https://ep01.epimg.net/deportes/imagenes/2019/06/27/actualidad/1561664320_745008_1561665353_miniatura_normal.jpg">
    </ion-img>
    <ion-card-header>
      <ion-card-subtitle>Santiago Torrado | 28/06/2019 - 03:36 CEST</ion-card-subtitle>
      <ion-card-title>La revolución ‘europea’ de Queiroz se mide al bicampeón de América</ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-list lines="none">

    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://ep01.epimg.net/internacional/imagenes/2019/06/25/actualidad/1561482460_479196_1561483276_miniatura_normal.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>La niña que contó el golpe</h3>
        <h3>de Pinochet en su diario</h3>
        <p>Francisca Márquez tenía...</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://ep01.epimg.net/economia/imagenes/2019/06/11/actualidad/1560270549_194208_1560426337_miniatura_normal.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>El vino chileno quiere jugar</h3>
        <h3>en primera división</h3>
        <p>Las bodegas del país sudamericano</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://ep01.epimg.net/internacional/imagenes/2019/06/21/america/1561086742_003892_1561134400_miniatura_normal.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Joaquín Lavin, el rostro</h3>
        <h3>renovado de la derecha chilena</h3>
        <p>Veinte años después de haber</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://ep01.epimg.net/elviajero/imagenes/2019/06/19/actualidad/1560959299_133798_1560959441_miniatura_normal.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Cinco grandes viajes con</h3>
        <h3>la casa a cuestas</h3>
        <p>La Gran Carretera Oceánica, en Australia</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>