<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Novosti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" href="noticia1">
    <ion-img
      src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/1.jpg?alt=media&token=ecff7490-6ba0-4bb6-ad08-9d96b49c783b">
    </ion-img>
    <ion-card-header>
      <ion-card-subtitle>Santiago Torrado | 28/06/2019 - 03:36 CEST</ion-card-subtitle>
      <ion-card-title>La revolución ‘europea’ de Queiroz se mide al bicampeón de América</ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-list lines="none">

    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/2.jpg?alt=media&token=9ee43a64-325e-46b1-b3c8-42ca4d31c5a7">
      </ion-thumbnail>
      <ion-label>
        <h3>La niña que contó el golpe</h3>
        <h3>de Pinochet en su diario</h3>
        <p>Francisca Márquez tenía...</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/5.jpg?alt=media&token=90da4487-24e8-4a09-a86a-cdffd0051918">
      </ion-thumbnail>
      <ion-label>
        <h3>El vino chileno quiere jugar</h3>
        <h3>en primera división</h3>
        <p>Las bodegas del país sudamericano</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/3.jpg?alt=media&token=158160f1-8125-4df6-8bf1-5c323c9d5c88">
      </ion-thumbnail>
      <ion-label>
        <h3>Joaquín Lavin, el rostro</h3>
        <h3>renovado de la derecha chilena</h3>
        <p>Veinte años después de haber</p>
      </ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-thumbnail slot="end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/4.jpg?alt=media&token=05b2476c-12ba-49ca-8b8e-acd4e369f2c9">
      </ion-thumbnail>
      <ion-label>
        <h3>Cinco grandes viajes con</h3>
        <h3>la casa a cuestas</h3>
        <p>La Gran Carretera Oceánica, en Australia</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>