<ion-header>
  <ion-toolbar>
    <ion-title>deportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-card class="welcome-card" href="noticia10">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia10.jpg?alt=media&token=25944c09-42db-4913-bef3-6118fbb9079c">
      </ion-img>
      <ion-card-header>
        <ion-card-subtitle>Manuel Morales | Madrid 22 JUN 2019 - 01:08 CEST</ion-card-subtitle>
        <ion-card-title>Cien años de matanzas entre hermanos</ion-card-title>
      </ion-card-header>

    </ion-card>
    <ion-list lines="none">

      <ion-item href="noticia11">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/noticia11.jpg?alt=media&token=75c1da8e-6378-4a59-81d7-caf321bd5ceb">
        </ion-thumbnail>
        <ion-label>
          <h3>Los 200 tesoros literarios que una biblioteca en Bolivia ha recuperado</h3>
          <p>Las distintas voces de la historia, relatos olvidados que ven sus páginas desempolvarse</p>
          <p> y estudios sociales que son primicia en castellano, entre otros tesoros literarios</p>
        </ion-label>
      </ion-item>

      <ion-item href="">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/culturaAdd.jpg?alt=media&token=b5212a78-d70d-4565-8210-866f69d4e5bd">
        </ion-thumbnail>
        <ion-label>
          <h3>'El Víbora': paspartú para los libertarios</h3>
          <p>La leyenda de la revista de cómics ofrece un relato alternativo y</p>
          <p> vibrante de los años 70 en España. ElMNAC recupera ahora su legado</p>
        </ion-label>
      </ion-item>

      <ion-item href="">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/culturaAdd1.jpg?alt=media&token=2402647e-1668-4144-a05a-d0dc45ea7ea9">
        </ion-thumbnail>
        <ion-label>
          <h3>Duki, el mesías argentino del trap: "Mi música es revolución, es el cambio"</h3>
          <p>El trapero argentino, que prepara una colaboración con C. Tangana, aterriza en España con una gira </p>
          <p>que le llevará a siete ciudades y en la que el 'Modo Diablo' llenará salas como La Riviera en Madrid o la Apolo en Barcelona</p>
        </ion-label>
      </ion-item>

      <ion-item href="">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/culturaAdd2.jpg?alt=media&token=9c90b84c-1068-4cbd-ab2c-7a4c5d9b02c1">
        </ion-thumbnail>
        <ion-label>
          <h3>Amaia anuncia el título de su nuevo disco y una gira: Pero No Pasa Nada</h3>
          <p>Amaia Romero, ganadora de Operación Triunfo 2017, ha anunciado hoy que su primer álbum se va a titular </p>
          <p>Pero no pasa nada y que se publicará</p>
        </ion-label>
      </ion-item>

      <ion-item href="">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/culturaAdd3.jpg?alt=media&token=3fc23388-cd94-4918-8bda-ecd0557e30cd">
        </ion-thumbnail>
        <ion-label>
          <h3>El censor franquista que le dijo a Mario Vargas Llosa: "Gracias a mí se publicó 'La ciudad y los perros'"</h3>
          <p>Un documental de Chema de la Peña rememora la compleja publicación de la gran novela del escritor peruano y </p>
          <p>cómo sorteó la censura que comandaba Robles Piquer. "Acepté cambiar siete frases de la novela", confesó este jueves el Nobel</p>
        </ion-label>
      </ion-item>

      <ion-item href="">
        <ion-thumbnail slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/culturaAdd4.jpg?alt=media&token=8a63b4a3-cf70-4fdf-aa30-e3d6fadaea17">
        </ion-thumbnail>
        <ion-label>
          <h3>Muere el escritor, galerista y director de la editorial Periférica Julián Rodríguez</h3>
          <p>El escritor, galerista y director literario de la editorial Periférica, Julián Rodríguez Marcos, </p>
          <p>ha fallecido en Segovia a los 50 años al sufrir un ataque al corazón, según han confirmado a Efe fuentes cercanas al editor.</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>