<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ciencia"></ion-back-button>
    </ion-buttons>
    <ion-title>Novosti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img
    src="https://firebasestorage.googleapis.com/v0/b/noticias-7ab88.appspot.com/o/7.jpg?alt=media&token=99547c04-db9e-43f1-bd7f-2022d4a23a02">
  </ion-img>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Madrid-
          Actualizado:
          28/06/2019 09:33h</p>
        <h2>Hallan el origen de una fugaz señal </h2>
        <h2>de radio emitida a 4.000 millones de años luz</h2>
        <p>Judith de Jorge</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <p id="contenido">Se llaman Fast Radio Bursts (estallidos rápidos de radio o FRBs), duran mucho menos que un
        parpadeo y son tan misteriosos que incluso se ha insinuado la fantástica posibilidad de que sean emitidos por
        una civilización avanzada. Lo cierto es que el origen de estos brevísimos pulsos de radio, meros susurros
        electromagnéticos cuando llegan a la Tierra, es un auténtico enigma. Pero el enigma quizás pueda resolverse
        pronto. Un equipo internacional de astrónomos ha encontrado la ubicación precisa de una de estas poderosas
        explosiones. Y está realmente lejos: en las afueras de una galaxia mediana, del tamaño de la Vía Láctea, situada
        a 4.000 millones de años luz de nosotros. Si la distancia impresiona, este dato no se queda atrás: el estallido
        solo sucedió una vez durante una milésima de segundo.</p>
    </ion-item>
  </ion-list>

</ion-content>